<p>Simple Home page :) </p>
<% if user_signed_in? %>
	<p> Welcome, <%= current_user.profile_name %><p>
	<p> Please Invie more People<p>
	<%= link_to "Invite People", invite_people_path %>
	<%= link_to "Log Out", logout_path %>
<% else %>
	<p>Request Admin to register</p>
	<%= form_tag(controller: "invitation", action: "request_admin", method: "post") do %>
		<input name="email" type="email" />
		<input name="Invite!" type="submit" />
	<%end%>
	</br>
	<%= link_to "Sign In", new_user_session_path %>
<% end %>